<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNG Listeners Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="81f6c9">  <td>20/04/12 12:12:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginToBeyondHrValidCredentials(java.lang.String, java.lang.String)[pri:0, instance:com.beyondhr.tests.LoginTest@4c51bb7]">loginToBeyondHrValidCredentials</td> 
  <td>main@1347016882</td>   <td></td> </tr>
<tr bgcolor="81f6c9">  <td>20/04/12 12:12:04</td>   <td>-9931</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUp()[pri:0, instance:com.beyondhr.tests.LoginTest@4c51bb7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1347016882</td>   <td></td> </tr>
<tr bgcolor="81f6c9">  <td>20/04/12 12:12:34</td>   <td>20276</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:com.beyondhr.tests.LoginTest@4c51bb7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1347016882</td>   <td></td> </tr>
</table>
